---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';


export const tags = [ "Mídia Social", "Ui/Ux", "Design Gráfico","Branding","Desenvolvimento","Automação","Tráfego","Foto e Vídeo", "Licenciamento",]
export const posts = [{
  id: 1, 
  nomedoProjeto: "M. Aires Company",
  slug: "M.aires",
  tags: [0, 1, 2, 4],
  descricao: "Na M. Aires Company, nosso desafio foi ir além do digital. Desenvolvemos toda a experiência de marca conectada à licenciatura da Patrulha Canina, unindo estratégia e design. Atuamos no UX/UI e desenvolvimento do site, com foco em usabilidade e performance, garantindo uma navegação intuitiva e envolvente. Nas mídias sociais, construímos uma comunicação criativa e alinhada ao licenciamento, fortalecendo a presença digital da marca e aproximando-a do público de forma consistente. No físico, aplicamos a identidade em embalagens, adesivos e materiais promocionais, garantindo consistência visual em todos os pontos de contato com o consumidor. Neste case, criamos uma presença que respeita o licenciamento, reforça o posicionamento da marca e gera valor real, da tela ao feed, da prateleira ao consumidor.",
  imagem: ["/images/M.aires/1.jpg","/images/M.aires/2.jpg","/images/M.aires/3.jpg"],
  thumb: "/images/M.aires/Thumb.jpg",
  link: "https://maires.com.br",
},
{
  id: 2, 
  nomedoProjeto: "Dr. Escritura",
  slug: "Dr.Escritura",
  tags: [0, 1, 2, 3, 4],
  descricao: "Na parceria com a Dr. Escritura, atuamos diretamente no fortalecimento da marca, tanto para a sede quanto para os franqueados, com uma comunicação que traduz o universo jurídico de forma clara, confiável e acessível para o público final. Desenvolvemos e executamos uma linha editorial que equilibra autoridade e proximidade, com conteúdos que informam, educam e posicionam a marca como referência em seu segmento. Também cuidamos da consistência visual e textual, garantindo que a identidade da Dr. Escritura se mantenha forte em todas as unidades, com padronização e estratégia voltada ao crescimento da rede. Além disso, criamos um site com foco em UX/UI e desenvolvimento, projetado para oferecer uma experiência digital fluida e intuitiva, alinhada à jornada do usuário. Complementamos com materiais audiovisuais e gráficos que transmitissem segurança e credibilidade.O resultado foi uma marca mais próxima do público, com presença digital fortalecida e posicionada como referência no setor.",
  imagem: ["/images/Dr.Escritura/1.jpg","/images/Dr.Escritura/2.jpg", "/images/Dr.Escritura/3.jpg"],
  thumb: "/images/Dr.Escritura/Thumb.jpg",
  link: "https://www.instagram.com/drescritura",
},
{
  id: 3, 
  nomedoProjeto: "Jardins do Pontal",
  slug: "Jardins-do-pontal",
  tags: [0, 1, 2, 3, 4],
  descricao: "No Jardins do Pontal, trabalhamos para transmitir o valor de um empreendimento imobiliário que representa qualidade de vida e futuro para as famílias. Desenvolvemos peças gráficas sofisticadas, conteúdos de mídias sociais alinhados ao lifestyle da marca e uma experiência digital fluida, com site otimizado para converter interesse em visitas. Com design estratégico e comunicação humanizada, conseguimos encantar e fortalecer a percepção do empreendimento como um lugar de realização.",
  imagem: ["/images/JardinsDoPontal/1.jpg","/images/JardinsDoPontal/2.jpg", "/images/JardinsDoPontal/3.jpg"],
  thumb: "/images/JardinsDoPontal/Thumb.jpg",
  link: "http://jardinsdopontal.com.br/",
},
{
  id: 4, 
  nomedoProjeto: "Patrulha Canina",
  slug: "Patrulha-Canina",
  tags: [2, 8],
  descricao: "Para a Patrulha Canina, além do design gráfico fiel às diretrizes da marca, nossa atuação envolveu todo o processo de licenciamento oficial, desde a adequação jurídica e contratual até a validação de uso em cada peça desenvolvida. Isso garantiu segurança para o cliente, respeito à propriedade intelectual e total conformidade com as exigências da marca. Adaptamos elementos ao contexto local sem perder a identidade global, assegurando consistência visual em cada aplicação. O resultado fortaleceu a presença da marca licenciada no Brasil, aumentou o reconhecimento e gerou impacto real junto ao público-alvo infantil e familiar.",
  imagem: ["/images/PatrulhaCanina/1.jpg","/images/PatrulhaCanina//2.jpg", "/images/PatrulhaCanina/3.jpg"],
  thumb: "/images/PatrulhaCanina/Thumb.png",
  link: "https://maires.com.br",
},
{
  id: 5, 
  nomedoProjeto: "DNA da Beleza",
  slug: "DNA-da-Beleza",
  tags: [0],
  descricao: "O DNA da Beleza buscava reforçar sua presença digital e se conectar de forma mais próxima com seu público, transmitindo a essência da marca de maneira moderna e envolvente. O desafio era transformar as redes sociais em um reflexo fiel do salão, mostrando profissionalismo, confiança e inspiração no universo da beleza. Para alcançar esse objetivo, a Brevard desenvolveu uma estratégia completa de mídias sociais, produzindo conteúdos criativos que informam, inspiram e engajam, além de reels e vídeos dinâmicos alinhados às tendências do mercado da beleza. Tudo isso foi planejado dentro de um calendário estratégico, garantindo frequência, relevância e fortalecimento da marca.",
  imagem: ["/images/DNAdabeleza/1.jpg","/images/DNAdabeleza/2.jpg", "/images/DNAdabeleza/3.jpg"],
  thumb: "/images/DNAdabeleza/Thumb.jpg",
  link: "https://www.instagram.com/dnadabelezaacademy/",
},
];
---

<Layout title="Portifólio - Brevard">
<Header/>
  <section id="Portifólio" class="section bg-primary-500 dark:bg-primary-50 pt-32">
    <div class="container-custom">
      <div class="text-center max-w-3xl mx-auto pb-16">
        <h2 class="h2 text-primary-50 dark:text-primary-500">
          <span class="text-secondary-50">Resultados </span>falam mais alto.
        </h2>
        <p class="text-primary-50 dark:text-primary-500 mt-8">
          Veja como já transformamos marcas com estratégia e criatividade.
        </p>
      </div>

      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {posts.map(post => (
            
            <div class="bg-primary-500 dark:bg-primary-100 rounded-lg border border-primary-300 w-full">
              <img 
                src={post.thumb} 
                class="w-full h-48 object-cover rounded-t-lg"
              />
              <div class="text-left p-6">
                <span class="font-bold text-secondary-50">
                  {post.tags.map(tagIndex => tags[tagIndex]).join(', ')}
                </span>
                <a href={`/Portifólio/${post.slug}`} class="block">
                  <h3 class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 h3 mt-4 mb-4">
                    {post.nomedoProjeto}
                  </h3>
                  <p class="text-primary-50 hover:underline transition-all duration-300 dark:text-primary-500 mb-4 line-clamp-3">
                    {post.descricao}
                  </p>
                </a>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
<Footer />
</Layout>
