---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Página não encontrada">
  <Header />
  <main>
    <section class="dark:bg-primary-50 py-20 md:py-32">
      <div class="container-custom text-center">
        <h1 class="text-primary-50 dark:text-primary-500">404</h1>
        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-4">Página não encontrada</h2>
        <p class="text-primary-50 dark:text-primary-500">
          Não encontramos a página que você procura.
        </p>
        <div class="flex mt-16 justify-center gap-4 flex-wrap">
          <a href="/" class="btn-primary">
            Voltar ao Começo
          </a>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout> 
