---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro'
import Serviços from '../components/Serviços.astro';
import Footer from '../components/Footer.astro';
import Depoimentos from '../components/Depoimentos.astro';
---

<Layout title="Brevard.">
  <Header />
  <main>
    <Hero />
    <Serviços/>
    <Depoimentos />
  </main>
  <Footer />
</Layout>
