---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
import EquipeBrevard from '../assets/images/equipe.jpg';
import { Image } from 'astro:assets';
---

<Layout title="Sobre nós - Brevard">
  <Header />
  <main>  
    <section id="Sobre a Brevard" class="py-16 bg-primary-500 dark:bg-primary-50 pt-32" >
      <div class="container-custom">
        <div class="text-center max-w-3xl mx-auto pb-16">
          <h2 class="h2 text-primary-50 dark:text-primary-500">A Brevard<span class="text-secondary-50">.</span></h2>
          <p class="text-primary-50 dark:text-primary-500 mt-8">
            Nossa missão é o SEU sucesso.
          </p>
        </div>
        <div class="grid md:grid-cols-2 gap-12 items-top mb-24">
          <div>
            <h2  class="text-primary-50 dark:text-primary-500 mb-8">Sobre nós </h2>
            <p class="text-primary-50 dark:text-primary-500 mb-4">
              A Brevard nasceu com o olhar voltado para o futuro: somos uma agência de marketing e branding que integra estratégia, criatividade e tecnologia dentro de um ecossistema completo.
            </p>
            <p class="text-primary-50 dark:text-primary-500 mb-4">
              Inspirada na cidade que abriga a NASA, nosso nome carrega inovação, ousadia e inteligência, elementos que aplicamos diariamente nas marcas que atendemos.
            </p>
            <p class="text-primary-50 dark:text-primary-500">
              Seja para começar do zero ou escalar o que já existe, nosso time conecta sua empresa às melhores soluções de posicionamento, conteúdo e performance.
            </p>
          </div>
          <div class="rounded-lg overflow-hidden shadow-xl">
            <Image 
          src={EquipeBrevard} 
             alt="Equipe Brevard" 
          class="w-full h-auto rounded-lg shadow-xl"
/>
          </div>
        </div>

          <div class="grid md:grid-cols-3 gap-8">
            <div class="card p-6 border border-primary-100 dark:border-primary-300">
              <div class="rounded-full bg-accent-50/20 dark:bg-accent-50/20 p-3 w-12 h-12 flex items-center justify-center mb-4">
                <svg class="w-6 h-6 text-accent-50 dark:text-accent-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
                </svg>
              </div>
              <h3 class="text-primary-50 dark:text-primary-500 mb-2">Missão</h3>
              <p class="text-primary-50 dark:text-primary-500">
                Impulsionar o crescimento de marcas por meio de estratégias criativas, tecnologia e performance.
              </p>
            </div>
            
            <div class="card p-6 border border-primary-100 dark:border-primary-300">
              <div class="rounded-full bg-accent-50/20 dark:bg-accent-50/20 p-3 w-12 h-12 flex items-center justify-center mb-4">
                <svg class="w-6 h-6 text-accent-50 dark:text-accent-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                </svg>
              </div>
              <h3 class="text-primary-50 dark:text-primary-500 mb-2">Visão</h3>
              <p class="text-primary-50 dark:text-primary-500">
               Ser reconhecida como referência em inovação e performance no Brasil através de um ecossistema.
              </p>
            </div>
            
            <div class="card p-6 border border-primary-100 dark:border-primary-300">
              <div class="rounded-full bg-accent-50/20 dark:bg-accent-50/20 p-3 w-12 h-12 flex items-center justify-center mb-4">
                <svg class="w-6 h-6 text-accent-50 dark:text-accent-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
                </svg>
              </div>
              <h3 class="text-primary-50 dark:text-primary-500 mb-2">Valores</h3>
              <p class="text-primary-50 dark:text-primary-500">
                Transparência, profissionalismo, compromisso com resultado, inovação e criatividade. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout> 
