---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Termos & Condições">
  <Header/>
      <section class="py-12 bg-primary-500 dark:bg-primary-50">
        <div class="container-custom mt-16">
        <div class="text-primary-50 dark:text-primary-500">
          <h2 class="mb-4">Termos e Condições de Uso</h2>
          <p class="mb-4">
            Bem-vindo(a) à Brevard! Estes Termos e Condições de Uso ("Termos") regem o acesso e a utilização do nosso site e dos serviços que oferecemos. Ao acessar ou utilizar a Brevard, você concorda em cumprir e ficar vinculado(a) a estes Termos. Se você não concordar com qualquer parte destes Termos, não deverá utilizar nosso site.
          </p>
          
          <h2 class="mb-4">1. Aceitação dos Termos</h2>
          <p class="mb-4">
            Elegibilidade: Você declara que tem pelo menos [idade mínima, ex: 18 anos] e capacidade legal para celebrar este contrato,

Conduta do Usuário: Você concorda em usar o site apenas para fins lícitos e de maneira que não infrinja os direitos de, nem restrinja ou iniba o uso e o desfrute do site por terceiros.

Proibições: Você não deve:

Publicar ou transmitir qualquer material que seja difamatório, obsceno, ofensivo, discriminatório ou ilegal.

Utilizar o site para enviar spam, e-mails não solicitados ou mensagens em massa.

Tentar obter acesso não autorizado a sistemas ou redes conectadas ao site.

Interferir ou interromper a segurança ou a integridade do site ou de seus dados.

Realizar engenharia reversa, descompilar ou desmontar qualquer software ou parte do site.
          </p>
          
          <h2 class="mb-4">3. Propriedade Intelectual</h2>
          <p class="mb-4">
          Todo o conteúdo presente no site, incluindo, mas não se limitando a textos, gráficos, logotipos, ícones, imagens, clipes de áudio, downloads digitais, compilações de dados e software, é propriedade da Brevard ou de seus fornecedores de conteúdo, e é protegido por leis de direitos autorais e propriedade intelectual. Você não pode reproduzir, duplicar, copiar, vender, revender ou explorar qualquer parte do site ou de seu conteúdo para qualquer finalidade comercial sem nosso consentimento expresso por escrito.          </p>
          
          <h2 class="mb-4">4. Links para Terceiros</h2>
          <p class="mb-4">
            Nosso site pode conter links para sites de terceiros que não são de nossa propriedade ou controle. Não temos controle e não assumimos responsabilidade pelo conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros. Aconselhamos você a ler os termos e condições e as políticas de privacidade de qualquer site de terceiros que visitar.
          </p>
          
          <h2 class="mb-4">5. Limitação de Responsabilidade</h2>
          <p class="mb-4">
            A Brevard é fornecida "como está" e "conforme disponível". Não oferecemos garantias de qualquer tipo, expressas ou implícitas, sobre a operação do site ou as informações, conteúdo, materiais ou produtos incluídos nele. Na máxima extensão permitida pela lei aplicável, a Brevard se isenta de todas as garantias, expressas ou implícitas, incluindo, mas não se limitando a, garantias implícitas de comercialidade e adequação a uma finalidade específica. A Brevard não será responsável por quaisquer danos de qualquer tipo decorrentes do uso deste site, incluindo, mas não se limitando a danos diretos, indiretos, incidentais, punitivos e consequenciais.
          </p>
          
          <h2 class="mb-4">6. Indenização</h2>
          <p class="mb-4">
            Você concorda em indenizar, defender e isentar a Brevard, seus diretores, funcionários, agentes e afiliados, de e contra todas e quaisquer perdas, despesas, danos e custos, incluindo honorários advocatícios razoáveis, resultantes de sua violação destes Termos ou de qualquer atividade relacionada ao seu acesso ao site (incluindo conduta negligente ou ilícita) por você ou qualquer outra pessoa acessando o site usando sua conta de internet.
          </p>
          
          <h2 class="mb-4">7. Rescisão</h2>
          <p class="mb-4">
          Reservamo-nos o direito de, a nosso exclusivo critério, suspender ou encerrar seu acesso ao site, com ou sem aviso prévio, por qualquer motivo, incluindo, sem limitação, a violação destes Termos.          </p>
          
          <h2 class="mb-4">8. Lei Aplicável e Jurisdição</h2>
          <p class="mb-4">
            Estes Termos serão regidos e interpretados de acordo com as leis do Brasil – Paraná. Você concorda com a jurisdição exclusiva dos tribunais localizados em Foz do Iguaçu – Paraná, para resolver quaisquer disputas decorrentes ou relacionadas a estes Termos.
          </p>
          
          <h2 class="mb-4">9. Contato</h2>
          <p class="mb-4">
          Se você tiver alguma dúvida sobre estes Termos e Condições, entre em contato conosco.
          </p>
          </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout> 
